.nav-items-EV-Finder{
    margin: auto;
    position: relative;
    top: 150px;

    height: 30px;
    width: 800px;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-items-EV-Finder a{
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    font-size: 20px;

    width: 180px;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.finder-container{
    margin: auto;
    margin-top: 150px;

    width: 97.5%;
    height: 840px;
}

.filter-container{
    position: relative;
    margin: auto;

    height: 210px;
    width: 1000px;
    font-family: 'Gotham', sans-serif;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    z-index: 3;

    font-weight: 450;
    font-size: 17px;
}

#filter-menu-container-top{  
    display: flex;
    justify-content: center;
    flex-direction: row;

    height: 100px;
    width: 100%;
}

/* ev brand name menu */
.filter-menu{ 
    position: relative;
    top: 40px;
    height: 50px;
    width: 250px;

    /* background-color: green; */
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.filter-menu-range{ 
    position: relative;
    top: 40px; 
    height: 50px;
    width: 250px;

    /* background-color: green; */
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.filter-menu-year{ 
    position: relative;
    top: 40px; 
    height: 50px;
    width: 250px;

    /* background-color: green; */
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}

.filter-menu select,
.filter-menu-range select,
.filter-menu-year select{
    display: none;
}

.filter-menu,
.filter-menu-range,
.filter-menu-year{
    margin-left: 20px;
}

/* style the div that holds selected item */
.select-selected {
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;

    height: 32px;
    width: 215px;

    display: flex;
    align-items: center;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent rgb(0, 0, 0) transparent;
    top: 16px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    /* user-select: none; */

    height: 32px;
    display: flex;
    align-items: center;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    /* top: 100%; */
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.filter-menu-container-bottom{  
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    height: 100px;
}

#filter-menu-price p{   
    font-weight: 500px;
    margin-right: 25px;
}

#filter-menu-search{
    height: 50px;
    width: 210px;

    background: #000000;
    border: 1px solid #000000;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-menu-search p{
    margin-right: 65px;
    margin-left: 10px;
}

.dropdown-icon{
    margin-top: 5px;

    height: 20px;
    width: 20px;
}

.cars-container{
    position: relative;
    top: -150px;

    margin: auto;
    height: 650px;
    width: 1800px;

    background: #FCFCFC;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #626262;
    border-radius: 15px 15px 0px 0px;
}
