.footer{
    margin: auto;
    margin-top: 40px;
    margin-bottom: -60px;

    width: 100%;
    height: 250px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    margin: auto;
    height: 55px;
    width: 260px;
    background-image: url(resources/logoFooter.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.left-container{
    height: 250px;
    width: 350px;

    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    list-style: none;
    color: white;
}

.left-container li{
    margin-left: 100px;
    padding-top: 8px;
}

@media screen and (max-width: 810px){
    .left-container li{
        margin-left: 60px;
    }
    .left-container{
        width: 220px;
    }
}

.right-container{
    margin-top: 50px;
    height: 200px;
    width: 350px;

    font-family: 'Gotham', sans-serif;
    font-weight: 550;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

@media screen and (max-width: 810px){
    .right-container{
        width: 220px;
    }
}

.social-media-logo{
    height: 35px;
    width: 240px;

    display: flex;
    margin-bottom: -15px;
}

.s-logo{
    height: 35px;
    width: 350px;

    background-size: 35px 35px;
}

@media screen and (max-width: 810px){
    .social-media-logo{
        width: 150px;
        height: 20px;
    }
    .s-logo{
        height: 25px;
        background-size: 27px 25px;
    } 
}

#s-logo-f{
    background-image: url(resources/\ icon\ _Facebook_.png);
    background-repeat: no-repeat;
}

#s-logo-i{
    background-image: url(resources/\ icon\ _Instagram_.png);
    background-repeat: no-repeat;
}

#s-logo-t{
    background-image: url(resources/\ icon\ _Twitter_.png);
    background-repeat: no-repeat;
}

#s-logo-y{
    background-image: url(resources/\ icon\ _YouTube_.png);
    background-repeat: no-repeat;
}

.right-container p{
    margin-top: -20px;
    font-weight: 100;
    font-size: 18px;
}

.copyRight{
    position: relative;
    top: -40px;
    margin: auto;

    height: 50px;
    width: 300px;

    display: flex;
    align-items: center;
}

.copyRight-image{
    height: 18px;
    width: 25px;
    margin-left: 45px;

    background-image: url(resources/Vector.png);
    background-repeat: no-repeat;

    background-size: 18px 18px;
}

.copyRight p{
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: white;
}