body{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    background-color: white;
    
    top: 0;
    position: fixed;

    z-index: 10;
    display: flex;
}

.logo-container{
    height: 90px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}

.logo{
    margin-left: -10px;
    height: 34px;
    width: 190px;
    background-image: url(resources/logo.png);
    background-repeat: no-repeat;
    background-image: 100%;
}

.location{
    height: 50px;
    width: auto;
    background-image: url(resources/location-01.png);
    background-repeat: no-repeat;
    background-image: 100%;

    font-family: 'Gotham', sans-serif;
}

.location h5{
    margin-left: 45px;
    margin-top: 1.5px;
    font-weight: 450;
}

.location h4{
    margin-left: 45px;
    margin-top: -18px;
}

@media screen and (max-width: 810px){
    .logo-container{
        margin-left: 18px;
    }

    .location{
        width: 250px;
    }
}

/*hamburger icon*/
.hamburger{
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    /* background-color: aqua; */
}

.hamburger label#bar{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;

    /* background-color: red; */
}

.hamburger label#bar span{
    background-color: black;
    height: 3px;
    width: 65%;
    margin: 4px;
}

#check{
    display: none;
}
/*end of hamburger*/

@media screen and (max-width: 810px){
    .hamburger label#bar{
        opacity: 100;
    }

    .hamburger{
        display: flex;
    }
}

.nav-items{
    margin: auto;
    height: 90px;
    width: 800px;
    display: flex;

    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 810px){
    .nav-items{
        display: none;
        background-color: aqua;
    }
}

a{
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 23px;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    text-decoration: none;
    color: black;
}

.nav-items-hover:hover{
    background: rgba(71, 175, 113, 0.30);
    cursor: pointer;
    transition-duration: 0.3s;
}

.search-container{
    height: 90px;
    width: 500px;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: blue; */
}

@media screen and (max-width: 810px){
    .search-container{
        margin-left: -150px;
        width: auto;
    }
}

.search{
    height: 40px;
    width: 40px;
    margin-left: 400px;

    background-image: url(resources/search-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#active-home,
#active-ev{
    background: rgba(71, 175, 113);
    color:white;
}




