body{
    margin: 0;
    padding: 0;
    height: 500px;
}

.nav{
    width: 100%;
    background-color: white;
    
    top: 0;
    position: fixed;

    z-index: 10;
    display: flex;
}

.logoContainer{
    height: 90px;
    width: 500px;
    /* background-color: blue; */
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    /* background-color: aliceblue; */
    margin-left: -10px;
    height: 34px;
    width: 190px;
    background-image: url(resources/logo.png);
    background-repeat: no-repeat;
    background-image: 100%;
}

.location{
    /* background-color: white; */
    height: 50px;
    width: 250px;
    background-image: url(resources/location-01.png);
    background-repeat: no-repeat;
    background-image: 100%;

    font-family: 'Gotham', sans-serif;
}

.location h5{
    margin-left: 45px;
    margin-top: 1.5px;
    font-weight: 450;
}

.location h4{
    margin-left: 45px;
    margin-top: -18px;
}

.navItem{
    margin: auto;
    height: 90px;
    width: 800px;
    display: flex;

    justify-content: center;
    align-items: center;

    /* background-color: rgb(175, 175, 175); */
}

a{
    /* list-style: none; */

    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 23px;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    /* background-color: aliceblue; */
}

.searchContainer{
    height: 90px;
    width: 500px;
    /* background-color: blue; */
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    height: 40px;
    width: 40px;
    margin-left: 400px;

    /* background-color: aliceblue; */
    background-image: url(resources/search-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

/* video*/
.vContainer{
    margin: auto;
    margin-top: 90px;

    width: 97.5%;
    height: 840px;

    background-image: url(resources/ezgif.com-video-to-gif\ \(5\).gif);
    background-repeat: no-repeat;
    background-size: 1855px 1080px;

    color: white;
}

.vContainerInside{
    margin: auto;

    width: 100%;
    height: 840px;

    background-color: rgb(0, 0, 0);
    opacity: 0.55;
}

/* slogo Texts */
.slogoText{
    position: relative;
    top: -540px;

    margin: auto;

    height: 200px;
    width: 600px;
    text-align: center;
    font-family: 'Gotham', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slogoText h1{
    font-size: 65px;
}

#and{
    color: rgba(71, 175, 113);
    font-size: 45px;

    margin-top: 45px;
}

#sText{
    position: relative;
    top: -635px;

    margin: auto;
    font-family: 'Gotham', sans-serif;

    width: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sText h4{
    font-size: 30px;
}

/* button */
.button{
    position: relative;
    top: -560px;

    margin: auto;
    height: 80px;
    width: 500px;

    background: rgba(71, 175, 113, 0.60);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham', sans-serif;
}

.button h1{
    font-size: 35px;
    margin-top: 16px;
}

.secondHeading{
    margin: auto;
    height: 100px;
    width: auto;
    text-align: center;
    font-family: 'Gotham', sans-serif;
}

.secondHeading h1{
    font-size: 65px;
    margin-left: 45px;
}

.navItemEV{
    margin: auto;
    height: 90px;
    width: 800px;
    display: flex;

    justify-content: center;
    align-items: center;

    /* background-color: rgb(175, 175, 175); */
}

.navItemEV a{
    /* list-style: none; */

    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    font-size: 20px;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    /* background-color: aliceblue; */
}

.evContainer{
    margin: auto;

    width: 97.5%;
    height: 840px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) -2.63%, #000000 114.7%);
}

.footer{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: 250px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter{
    /* background-color: aliceblue; */
    margin: auto;
    height: 55px;
    width: 260px;
    background-image: url(resources/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;

    background-color: aliceblue;
}

.leftCont{
    height: 250px;
    width: 350px;

    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    list-style: none;
    color: white;
}

.leftCont li{
    margin-left: 75px;
    padding-top: 8px;
}

.rightCont{
    height: 260px;
    width: 350px;

    font-family: 'Gotham', sans-serif;
    font-weight: 550;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

.socialMediaLogo{
    height: 35px;
    width: 240px;

    display: flex;
    margin-bottom: -15px;
}

.s-logo{
    height: 35px;
    width: 350px;

    background-size: 35px 35px;
}

#s-logo-f{
    background-image: url(resources/\ icon\ _Facebook_.png);
    background-repeat: no-repeat;
}

#s-logo-i{
    background-image: url(resources/\ icon\ _Instagram_.png);
    background-repeat: no-repeat;
}

#s-logo-t{
    background-image: url(resources/\ icon\ _Twitter_.png);
    background-repeat: no-repeat;
}

#s-logo-y{
    background-image: url(resources/\ icon\ _YouTube_.png);
    background-repeat: no-repeat;
}

.rightCont p{
    margin-top: -20px;
    font-weight: 100;
    font-size: 18px;
}